
.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.header {
    padding: 30px 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 28px;
    color: #fff;
}

.card {
    background-color: #fff;
    padding: 50px 30px;

    border-radius: 4px;
}

.btn {
    height: 56px;
    padding: 0 30px;
    background-color: green;
    color: #fff;
    border: 0;
    border-radius: 8px; 
    align-self: center;
    font-weight: bold;

    transition: background-color .2s;
}
.btn:hover {
    background-color: rgb(0, 100, 12);
}

.address-text {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

td:hover {
    opacity: 0.5;
}

.btn-delete {
    align-items: center;
    justify-content: center;
}